*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: var(--primary_color);
    color: var(--secondary_color);
    font-family: Arial, Helvetica, sans-serif;
    overflow-x: hidden;
    
}
